#chat
    margin: 150px 0 0
    display: flex
    justify-content: center
    .messagebox
        padding: 30px
        background-color: #F8C471
        margin: 0 60px
        width: 690px
        height: 450px
        border-radius: 20px
        border: 1px solid #F8C471
        .layout
            display: flex
            flex-direction: column
            overflow-y: scroll
            overflow-x: hidden
            background-color: #ffffff
            border-radius: 20px
            padding: 10px
            width: 620px
            height: 320px
            .username
                display: flex
                justify-content: center
                top: 10px
                text-align: center
                width: 70px
                padding: 12px 10px
                border-radius: 40px
                background-color: #5F7F93
                font-size: 20px
                color: #ffffff
            .msg
                float: right
                padding: 12px 10px
                border-radius: 40px
                background-color: #5F7F93
                font-size: 20px
                color: #ffffff
        .control
            display: flex
            justify-content: center
            margin-top: 20px
            input
                width: 230px
                border-radius: 40px
            .btn
                padding: 7px 30px
                margin-left: 15px
                border-radius: 40px
                background-color: #5F7F93
                font-size: 20px
                color: #ffffff
                h2
                    cursor: pointer
    @media (max-width: 500px)
        flex-wrap: wrap
        .messagebox
            width: 375px
            height: 325px
            margin: 20px 10px
            .layout
                width: 315px
                height: 205px
                .username
                    width: 55px
                    padding: 12px 30px
